.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 150px !important;
}

.profilehearticon {
    float: right;
}

.profiletrashicon:hover {
    color: red;
}

@media only screen and (max-width: 767px) {
    .ui.card, .ui.cards>.card {
        max-width: 50%;
    }
  }